<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663447170208-f52j9h4vbil0sq6j4r6goc4q4mfptidu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663447170208-f52j9h4vbil0sq6j4r6goc4q4mfptidu</string>
	<key>API_KEY</key>
	<string>AIzaSyBFF8M9aNRb0PDmcQA3IhrAJjMcrvFPuUc</string>
	<key>GCM_SENDER_ID</key>
	<string>663447170208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.practice.notesapp</string>
	<key>PROJECT_ID</key>
	<string>notes-course-app</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-course-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663447170208:ios:e7dcbb7476bd4755e32dc5</string>
</dict>
</plist>